<table>
<tr><td>Interface Number: </td><td><select name="dstIfNum" onfocus="this.oldvalue = this.value;" onblur="valIfNum(this, 1);">
<option selected disabled hidden value=""></option>
<option value="0">1</option>
<option value="1">2</option>
</select><td></tr>
<tr><td>Mode: </td><td><select name="dstMode">
<option selected disabled hidden value=""></option>
<option value="0">Stream</option>
<option value="1">Frame</option>
</select><td></tr>
<tr><td>Baudrate: </td><td><select name="dstBaudrate" onblur="valBaud(this, 1);">
<option selected disabled hidden value=""></option>
<option value="4800">4800</option>
<option value="9600">9600</option>
<option value="19200">19200</option>
<option value="38400">38400</option>
<option value="115200">115200</option>
<option value="460800">460800</option>
<option value="921600">921600</option>
</select><td></tr>
<tr><td>Parity: </td><td><select name="dstParity" onblur="valParity(this, 1);">
<option selected disabled hidden value=""></option>
<option value="0">None</option>
<option value="1">Even</option>
<option value="2">Odd</option>
</select><td></tr>
<tr><td>Stop Bits: </td><td><select name="dstStop" onblur="valStop(this, 1);">
<option selected disabled hidden value=""></option>
<option value="0">1</option>
<option value="1">2</option>
</select><td></tr>
</table>
