<table>
<tr><td>Speed (kbit/s): </td><td>
<select name="dstSpeed" onblur="valSpeed(this, 1);">
<option selected disabled hidden value=""></option>
<option value="10">10</option>
<option value="20">20</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="125">125</option>
<option value="250">250</option>
<option value="500">500</option>
<option value="1000">1000</option>
</select>
<td></tr>
<tr><td>Standard ID: </td><td><input type="number" name="dstStdId" min="0" max="2047" value="" onblur="valStdId(this, 1);"><td></tr>
<tr><td>Data bytes: </td><td><input type="number" name="dstDataByte" min="0" max="8" value="8" onblur="valDataByte(this);"><td></tr>
</table>