<table>
<tr><td>Mode: </td><td><select name="dstProto">
<option value="0">TCP</option>
<option value="1">UDP</option>
</select><td></tr>
<tr><td>Port: </td><td><input type="number" name="dstPort" min="0" max="65535" value="" onblur="valPort(this, 1);"><td></tr>
<tr><td>Host: </td><td><textarea rows="1" cols="15" type="text" name="dstHost" onblur="return true;">255.255.255.255</textarea><td></tr>
</table>