<table>
<tr><td>Interface Number: </td><td><select name="srcIfNum" onfocus="this.oldvalue = this.value;" onblur="valIfNum(this, 0);">
<option selected disabled hidden value=""></option>
<option value="0">1</option>
<option value="1">2</option>
</select><td></tr>
<tr><td>Mode: </td><td><select name="srcMode">
<option selected disabled hidden value=""></option>
<option value="0">Stream</option>
<option value="1">Frame</option>
</select><td></tr>
<tr><td>Baudrate: </td><td><select name="srcBaudrate" onblur="valBaud(this, 0);">
<option selected disabled hidden value=""></option>
<option value="4800">4800</option>
<option value="9600">9600</option>
<option value="19200">19200</option>
<option value="38400">38400</option>
<option value="115200">115200</option>
<option value="460800">460800</option>
<option value="921600">921600</option>
</select><td></tr>
<tr><td>Parity: </td><td><select name="srcParity" onblur="valParity(this, 0);">
<option selected disabled hidden value=""></option>
<option value="0">None</option>
<option value="1">Even</option>
<option value="2">Odd</option>
</select><td></tr>
<tr><td>Stop Bits: </td><td><select name="srcStop" onblur="valStop(this, 0);">
<option selected disabled hidden value=""></option>
<option value="0">1</option>
<option value="1">2</option>
</select><td></tr>
</table>
<br>
Destination Interface:  
<select name="dstIf" onchange="javascript:onChgDstIf(this, true);">
<option selected disabled hidden value=""></option>
<option value="0">RS485</option>
<option value="1">CAN</option>
<option value="2">USB</option>
<option value="3">ETH</option>
<option value="4">WIFI</option>
</select>
<hr>