<table>
<tr><td>Speed (kbit/s): </td><td>
<select name="srcSpeed" onblur="valSpeed(this, 0);">
<option selected disabled hidden value=""></option>
<option value="10">10</option>
<option value="20">20</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="125">125</option>
<option value="250">250</option>
<option value="500">500</option>
<option value="1000">1000</option>
</select>
<td>
</tr>
<tr><td>Mode: </td>
<td>
<select name="srcMode" onblur="valCanMode(this);" onchange="valCanMode(this);">
<option selected disabled hidden value=""></option>
<option value="0">Stream</option>
<option value="1">Frame</option>
<option value="2">Thru</option>
</select>
<td>
</tr>
<tr><td>Standard ID: </td><td><input type="number" name="srcStdId" min="0" max="2047" value="" onblur="valStdId(this, 0);"><td>
</tr>
</table>
<br>
Destination Interface:  
<select name="dstIf" onchange="javascript:onChgDstIf(this, true);">
<option selected disabled hidden value=""></option>
<option value="0">RS485</option>
<option value="1">CAN</option>
<option value="2">USB</option>
<option value="3">ETH</option>
<option value="4">WIFI</option>
</select>
<hr>