<table>
<tr><td>Mode: </td><td><select name="srcMode">
<option selected value="0">Stream</option>
</select><td></tr>
</table>
<br>
Destination Interface:  
<select name="dstIf" onchange="javascript:onChgDstIf(this, true);">
<option selected disabled hidden value=""></option>
<option value="0">RS485</option>
<option value="1">CAN</option>
<option value="2">USB</option>
<option value="3">ETH</option>
<option value="4">WIFI</option>
</select>
<hr>