<table>
<tr><td>Mode: </td><td><select name="srcProto">
<option value="0">TCP</option>
<option value="1">UDP</option>
</select><td></tr>
<tr><td>Port: </td><td><input type="number" name="srcPort" min="0" max="65535" value="" onblur="valPort(this, 1);"><td></tr>
</table>
<br>
Destination Interface:  
<select name="dstIf" onchange="javascript:onChgDstIf(this, true);">
<option selected disabled hidden value=""></option>
<option value="0">RS485</option>
<option value="1">CAN</option>
<option value="2">USB</option>
<option value="3">ETH</option>
<option value="4">WIFI</option>
</select>
<hr>