<table>
<tr><td>Baudrate: </td><td><select name="baudrate">
<option value="4800">4800</option>
<option value="9600">9600</option>
<option value="19200">19200</option>
<option value="38400">38400</option>
<option selected value="115200">115200</option>
<option value="460800">460800</option>
<option value="921600">921600</option>
</select><td></tr>
<tr><td>Parity: </td><td><select name="parity">
<option selected value="0">None</option>
<option value="1">Even</option>
<option value="2">Odd</option>
</select><td></tr>
<tr><td>Stop Bits: </td><td><select name="stop">
<option selected value="0">1</option>
<option value="1">2</option>
</select><td></tr>
<tr><td>Data: </td><td><textarea rows="4" cols="50" name="RS485-2-data" >Some test ASCII data</textarea><td></tr>
</table>