<table>
<tr><td>Speed (kbit/s): </td><td>
<select name="speed" onblur="valSpeedTest(this);">
<option selected disabled hidden value=""></option>
<option value="10">10</option>
<option value="20">20</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="125">125</option>
<option value="250">250</option>
<option value="500">500</option>
<option value="1000">1000</option>
</select>
</td></tr>
<tr><td>Standard ID: </td><td><input type="number" name="stdId" min="0" max="2047" value="" onblur="valStdIdTest(this);"></td></tr>
<tr><td>Data bytes: </td><td><input type="number" name="dataByte" min="0" max="8" value="8" onblur="valDataByte(this);"></td></tr>
<tr><td>Data: </td><td><textarea rows="1" cols="23" type="text" name="canData" onblur="javascript:canDataValidateInput(this);">01:23:45:67:89:AB:CD:EF</textarea></td></tr>
</table>