<table>
<tr><td>Mode: </td><td><select name="EthProto">
<option value="0">TCP</option>
<option selected value="1">UDP</option>
</select><td></tr>
<tr><td>Port: </td><td><input type="number" name="EthPort" min="0" max="65535" value="23" onblur="valPortTest(this);"></td></tr>
<tr><td>IP: </td><td><textarea rows="1" cols="15" type="text" name="EthIP" onblur="valIP(this);">255.255.255.255</textarea></td></tr>
<tr><td>Data: </td><td><textarea rows="4" cols="50" name="EthSend" >Some test ASCII data</textarea></td></tr>
</table>