<form name="pipeCfg" action="javascript:void(0);" method="post">
<div id="cfgContent" align="center"> 
	<br>
	 Source Interface:  
	<select name="srcIf" onchange="javascript:onChgSrcIf(this);">
	<option selected disabled hidden value=""></option>
	<option value="0">RS485</option>
	<option value="1">CAN</option>
	<option value="2">USB</option>
	<option value="3">ETH</option>
	<option value="4">WIFI</option>
	</select>
	<hr>
	<div id="cfgSrcIf"></div>
	<div id="cfgDstIf"></div>
	<br>
</div>	
</form>
<span class="readBytesButtons">
	<input type="button" value="Add" class="pageButton" onclick="javascript:if(onCfgAdd(document.forms.pipeCfg)==true){onButtonStatsClick('config.html', false);}">
	<input type="button" value="Show" class="pageButton" onclick="javascript:onCfgShow(false);">
	<input type="button" value="Upload" class="pageButton" onclick="javascript:onCfgUp();">
	<input type="button" value="Download" class="pageButton" onclick="javascript:onCfgDown();">
</span>
<br>
