<hr>
<br>
<table align="center">
<tr>
<td></td>
<td>
<div><input type="button" value="Autorefresh" width="80" class="pageButton" onclick="javascript:onButtonStatsClick('stats.html', true)"></div>
</td> 
<td></td>
</tr>
</table>