<h4>Send data to selected interface</h4> 
<form name="testSend" action="javascript:void(0);" onsubmit="javascript:onSubmitTesting(this);" method="post">
<div align="center">
	<div id="iSpecific"></div>
	<br>
	<input type="submit" value="Send" class="pageButton"> Interface:  
	<select onchange="javascript:LoadInterface(this, 'if','iSpecific');">
	<option selected disabled hidden value=""></option>
	<option value="0">RS485-1</option>
	<option value="1">RS485-2</option>
	<option value="2">CAN</option>
	<option value="3">USB</option>
	<option value="4">ETH</option>
	<option value="5">WIFI</option>
	</select>
</div>
</form>
<br>
